[submodule "themes/themes/hugo-lithium-theme"]
	path = themes/themes/hugo-lithium-theme
	url = git@github.com:jrutheiser/hugo-lithium-theme.git
[submodule "themes/hugo-lithium-theme"]
	path = themes/hugo-lithium-theme
	url = git@github.com:jrutheiser/hugo-lithium-theme.git
[submodule "public"]
	path = public
	url = git@github.com:kenji-imi/kenji-imi.github.io.git
